{% extends 'base.html' %}
{% block title %} Python Cinema Watcher | Movies {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('movies.static', filename='styles/movies.css') }}">
{% endblock %}

{% block content %}
    <div id="player_container" hidden>
        <div id="player_bg">
            <div id="player">
                <img id="exit_player_btn" src="{{ url_for('movies.static', filename='images/x-white.png') }}" alt="x"
                     onclick="closePlayer()">
                <iframe id="player_frame" src=""></iframe>
            </div>
        </div>
    </div>

    <div class="centered">
        <table class="vh300">
            <caption>
                What's on in our cinemas:
            </caption>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>
                        {#                        TODO: fix play button design#}
                        <img src="{{ movie.poster_link }}" alt="movie_poster">
                        <img src="{{ url_for('movies.static', filename='images/play_icon.png') }}" alt="play_button"
                             onclick="playTrailer('{{ movie.video_link }}')">
                    </td>
                    <td>
                        {{ movie.name }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function playTrailer(link) {
            let player = document.getElementById("player_frame");
            player.src = link;

            let player_container = document.getElementById("player_container");
            player_container.hidden = false;
        }

        function closePlayer() {
            let player_container = document.getElementById("player_container");
            player_container.hidden = true;

            let player = document.getElementById("player_frame");
            player.src = "";
        }
    </script>
{% endblock %}