{% extends 'base.html' %}
{% block title %} Python Cinema Watcher {% endblock %}

{% block content %}
<div class="centered">
    <form action="/static" method="GET">
            <fieldset>
                <legend>Filtered search</legend>

                <label for="title">Movie title:</label>
                <input type="text" id="title" name="title" size="25">
                <br>

                <label for="max_length">Max length:</label>
                <input type="number" id="max_length" name="max_length">
                <br>

                <label for="date">Date:</label>
                <input type="date" id="date" name="date">
                <br>

                <label for="allCinemas">List from all cinemas</label>
                <input type="checkbox" id="allCinemas" name="allCinemas" checked onclick="toggleIsCinemaSelectable()">
                <br>

                <label for="cinemas">Cinema:</label>
                    <select name="cinemas" id="cinemas" disabled>
                      {% for cinema in fetched_cinemas %}
                      <option value="{{ cinema.id }}">{{ cinema.name }}</option>
                      {% endfor %}
                    </select>
                <br>

                <input type="reset" name="btn-reset" value="Reset">
                <input type="submit" name="btn-submit" value="Search">
            </fieldset>
        </form>
</div>

    <div>
    {% for m in mov %}
        <p>{{ m.name }}</p>
    {% endfor %}
    </div>

<div class="centered">
        <table class="vh300">
            <caption>
                Results
            </caption>
            <thead>
            <tr>
                <th>Title</th>
                <th>Length</th>
                <th>Date</th>
                <th>Cinema</th>
                <th>Sold out</th>
                <th>Booking link</th>
            </tr>
            </thead>
            <tbody>
            {% for movie_event in fetched_data %}
            <tr>
                <td>
                    {{ movie_event.movie.name }}
                </td>
                <td>
                    {{ movie_event.movie.length }} minutes
                </td>
                <td>
                    {{ movie_event.date }}
                </td>
                <td>
                    {{ movie_event.cinema.name }}
                </td>
                <td>
{#                    TODO: x or checkmark #}
                    {{ movie_event.sold_out }}
                </td>
                <td>
                    <a href="{{ movie_event.booking_link }}">Booking link</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>

<script>
    function toggleIsCinemaSelectable(){
        let cinemaSelector = document.getElementById("cinemas");
        cinemaSelector.disabled = !cinemaSelector.disabled;
    }
</script>
{% endblock %}