{% extends 'base.html' %}
{% block title %} Python Cinema Watcher {% endblock %}

{% block content %}
    <div class="centered">
        <form action="/static" method="GET">
            <fieldset>
                <legend>Filtered search</legend>

                <label for="title">Movie title:</label>
                <input type="text" id="title" name="title" size="25">
                <br>

                <label for="max_length">Max length:</label>
                <input type="number" id="max_length" name="max_length">
                <br>

                <label for="date">Date:</label>
                <input type="date" id="date" name="date">
                <br>

                <label for="allCinemas">List from all cinemas</label>
                <input type="checkbox" id="allCinemas" name="allCinemas" checked onclick="toggleIsCinemaSelectable()">
                <br>

                <label for="cinemas">Cinema:</label>
                <select name="cinemas" id="cinemas" disabled>
                    {% for cinema in fetched_cinemas %}
                        <option value="{{ cinema.id }}">{{ cinema.name }}</option>
                    {% endfor %}
                </select>
                <br>

                <input type="reset" name="btn-reset" value="Reset">
                <input type="submit" name="btn-submit" value="Search">
            </fieldset>
        </form>
    </div>

    <div class="centered">
        <table class="vh300">
            <caption>
                Results
            </caption>
            <thead>
            <tr>
                <th id="poster"></th>
                <th id="title">Title</th>
                <th id="length">Length</th>
                <th id="date">Date</th>
                <th id="cinema">Cinema</th>
                <th id="sold_out">Sold out</th>
                <th id="booking_link">Booking link</th>
                <th id="add_to_fav"></th>
            </tr>
            </thead>
            <tbody>
            {% for movie_event in fetched_data %}
                <tr>
                    <td headers="poster">
                        <img src="{{ movie_event.movie.poster_link }}" alt="movie_poster">
                    </td>
                    <td headers="title">
                        {{ movie_event.movie.name }}
                    </td>
                    <td headers="length">
                        {{ movie_event.movie.length }} minutes
                    </td>
                    <td headers="date">
                        {{ movie_event.date }}
                    </td>
                    <td headers="cinema">
                        {{ movie_event.cinema.name }}
                    </td>
                    <td headers="sold_out">
                        {#                    TODO: x or checkmark #}
                        {{ movie_event.sold_out }}
                    </td>
                    <td headers="booking_link">
                        <a href="{{ movie_event.booking_link }}">Booking link</a>
                    </td>
                    <td headers="add_to_fav">
                        {% if movie_event.id in watchlist_ids %}
                            <a href="{{ url_for('main.remove_from_watchlist', event_id=movie_event.id) }}">
                                <img src="{{ url_for('main.static', filename='images/favorite-icon-added.png') }}"
                                     alt="on_watchlist">
                            </a>
                        {% else %}
                            <a href="{{ url_for('main.add_to_watchlist', event_id=movie_event.id) }}">
                                <img src="{{ url_for('main.static', filename='images/favorite-icon-not-added.png') }}"
                                     alt="not_on_watchlist">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function toggleIsCinemaSelectable() {
            let cinemaSelector = document.getElementById("cinemas");
            cinemaSelector.disabled = !cinemaSelector.disabled;
        }
    </script>
{% endblock %}