{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="flex">
{#    TODO: form action #}
        <form id="form-login" action="../php/login_check.php" method="POST">
            <fieldset>
                <legend>Bejelentkezés</legend>

{#                <?php#}
{#                if (strlen($azonosito_error) > 0 || strlen($password_error) > 0) {#}
{#                    echo '<div class="warning">';#}
{#                    echo "Sikertelen bejelentkezés!";#}
{#                    echo "</div>";#}
{#                }#}
{##}
{#                if (strlen($azonosito_error) > 0) {#}
{#                    echo '<div class="warning">';#}
{#                    echo $azonosito_error;#}
{#                    echo "</div>";#}
{#                }#}
{#                ?>#}

                <label for="azonosito">Azonosító:</label>
                <input type="text" id="azonosito" name="azonosito" size="25" required>
                <br>

{#                <?php#}
{#                if (strlen($password_error) > 0) {#}
{#                    echo '<div class="warning">';#}
{#                    echo $password_error;#}
{#                    echo "</div>";#}
{#                }#}
{#                ?>#}

                <label for="password">Jelszó:</label>
                <input type="password" id="password" name="password" required>
                <br>

                <input type="submit" name="btn-submit" value="Bejelentkezés">
            </fieldset>
        </form>
    </div>
{% endblock %}