* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --header-height: 15vh;
    --footer-height: 15vh;
}

body{
    width: 100vw;
}

/* Header */
header {
    position: sticky;
    top: 0;
    width: inherit;
    height: var(--header-height);

    z-index: 999;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.general{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.general p{

}

.logo img {
    height: 50px;
}

nav ul {
    display: flex;
    padding: 10px 0 0 0;
}

nav li {
    margin-right: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: grey;
}

/* Fő tartalom */
main {
    top: var(--header-height);

    min-height: 70vh;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#info{
    color:green;
    font-weight: bold;
    font-size: 1.3rem;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 3vh 0 3vh 1vw;
    height: var(--footer-height);

    bottom: 0;
    width: inherit;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

footer p, header p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

li a {
    color: #fff;
    font-size: 16px;
}

li a:hover {
    color: #ccc;
}

.bottom-bar {
    background-color: #222;
    padding: 20px;
}