.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 15vh auto;
}

input, select, textarea {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

fieldset {
    padding: 10px;
    width: 430px;
    border-radius: 10px 10px 10px 10px;
}

legend{
    font-size: 1.1rem;
    margin: 0 3px;
    padding: 0 5px;
}

label {
    display: inline-block;
    width: 150px;
}

input:not([type="radio"]):not([type="checkbox"]), select {
    border-radius: 10px;
    min-height: 25px;
    width: 220px;
}

input[type="checkbox"]{
    min-height: 15px;
    width: 20px;
}

input[type="reset"], input[type="submit"] {
    background-color: #447483;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    color: white;
    width: 150px;
    height: 40px;
    margin-left: 0;
}

select {
    padding-left: 0.3rem;
}

.warning{
    color:red;
    padding-left: 80px;
}

@media only screen and (max-width: 800px) {
    .flex {
        flex-direction: column;
    }

    form {
        min-width: 90vw;
    }
}